[Unit]
Description=Redis persistent key-value database
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/command/public /var/log/ericsson/command/private /var/log/ericsson/command/setup
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/command/public /var/log/ericsson/command/private /var/log/ericsson/command/setup
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/command
ExecStart=/usr/bin/redis-server /opt/ericsson/command/etc/ericsson-command-redis-el7.conf --daemonize no
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
