[Unit]
Description=lserv
After=network.target

[Service]
Type=forking
User=root
Group=root
#Wait up to 6m for lserv to start in case DNS servers are unreachable.
TimeoutSec=360
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/license-manager/public /var/log/ericsson/license-manager/private
ExecStartPre=/usr/bin/chown root: /var/log/ericsson/license-manager/public /var/log/ericsson/license-manager/private
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/license-manager
# END OF BZ47235
ExecStart=/bin/bash -c     "/opt/ericsson/license-manager/bin/lserv -s /opt/ericsson/license-manager/licenses/nlservrc -e /opt/ericsson/license-manager/conf/lsreserv -port 5093 -l /var/log/ericsson/license-manager/private/server_stat.log -z 500m -extended-log >> /dev/null"
ExecStartPost=/bin/bash -c "ps aux|egrep -e './lserv'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/license-manager/lserv.pid"
ExecStop=/bin/bash -c      "cd /opt/ericsson/license-manager/bin;./lsrvdown 127.0.0.1"
ExecStopPost=/bin/bash -c  "rm -f /var/opt/ericsson/license-manager/lserv.pid"
Restart=always

[Install]
WantedBy=multi-user.target
