[Unit]
Description=ericsson-automation-config
After=network-online.target
Wants=network-online.target rsyslog.service

[Service]
Type=simple
User=ericsson
Group=ericsson
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/automation-config/public /var/log/ericsson/automation-config/private /var/log/ericsson/automation-config/setup
ExecStartPre=(/usr/bin/chown -R ericsson:ericsson /var/log/ericsson/automation-config ) || :
ExecStartPre=(/usr/sbin/restorecon -R /var/log/ericsson/automation-config ) || :
ExecStart=/bin/bash -c  "cd /opt/ericsson/automation-config/bin; source activate; ./automation-config --conf /opt/ericsson/automation-config/etc/automation-config.ini --logging /opt/ericsson/automation-config/etc/logging.json > /var/log/ericsson/automation-config/private/console.log 2>&1"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
