[Unit]
Description=ericsson-interface-discovery
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/interface-discovery/public /var/log/ericsson/interface-discovery/private /var/log/ericsson/interface-discovery/setup
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/interface-discovery/public /var/log/ericsson/interface-discovery/private /var/log/ericsson/interface-discovery/setup
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/interface-discovery
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c  "cd /opt/ericsson/interface-discovery/bin; source activate; ./ericsson-interface-discovery --watch /opt/ericsson/interface-discovery/etc/watch.yaml --conf /opt/ericsson/interface-discovery/etc/interface-discovery.ini --logging /opt/ericsson/interface-discovery/etc/logging.json >> /var/log/ericsson/interface-discovery/private/console.log 2>&1"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
