[Unit]
Description=ericsson-controller-config
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/controller-config/public /var/log/ericsson/controller-config/private /var/log/ericsson/controller-config/setup
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/controller-config/public /var/log/ericsson/controller-config/private /var/log/ericsson/controller-config/setup
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/controller-config
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c  "cd /opt/ericsson/controller-config/bin; source activate; ./ericsson-controller-config --conf /opt/ericsson/controller-config/etc/controller-config.ini --logging /opt/ericsson/controller-config/etc/logging.json >> /var/log/ericsson/controller-config/private/console.log 2>&1"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
