### ADDED EXCEPTIONNAL###



### END ADDED EXCEPTIONNAL###

# Ability to disable traces.txt 
#log.trace=0
log.output=/var/log/ericsson/encoding-live-worker/private/
logFile.directory=/var/log/ericsson/encoding-live-worker/private/

#Option to Disable syslog
#log.system=legacy
#log.threaded=true

log.maxSize=250

log.maxFilesPerDay=20
trace.log.maxSize=500
memory.logPeriod=15000
memoryIndicator.log.maxSize=2000
cpuIndicator.log.maxSize=2000

checkDisks=false

# Add log for ESAM requests (bug 40036)
esam.logData=true

# Statmux listener log period limitation
statmux.announce.listener.minLogPeriod=3600000
statmux.logStatusPeriod=10

# Probe tool authorization
#probe=true
#probe.sampleDump.dir=/var/log/ericsson/encoding-live-worker/private/

memLogger_entryMax=0
deltacast.usegenlock=true
resetrequests.apply=True
resetrequests.max=3
sockettimeout=55

mp4.useDefaultSampleDuration=false

# Exclusive mandatory options for enabling ISDB-T compliancy (not by default)
#mpeg2ts.audioMux.only1FramePerPes=true
#mpeg2ts.eraseDts=true

# For multiblade : prevent dump of sample attribute 'frame metadata' (unnecessary and too heavy)
sampleDump.dumpFrameMetadata=false

# Don't Save network config on WS2008
systemConfig.enableNetworkDump = false
systemConfig.enableDump = false

 Unicast mode to the distributed encoding feature with command
#mastercore.mode=DYNAMIC_DIRECT_ACCESS_UNICAST

# Settings mandatory for mediaroom certification 
#xec.iptv_hd.level=11 
#xec.iptv_sd.level=8 
#xec.iptv_pip.level=4  
#rtp.keepStuffing=true 

# Unicast optimization
#dmif.useUnicastManager[*]=true

# Multi Processing
masterSlave.setAffinity=false

# EBP signaling Parameters for 
telecine.preventDoubleRepeatFrames=true
telecine.preventShiftFrames=false
telecine.enableFieldOrderDetection=false

# Bug 33898 - Interop with Widevine Packager 
# Forced gops only : 0: allow I inside chunk; 1: only P and B inside chunk.
#xec.chunksWithoutIntra=1

# Bug 33898 - [PCR#07] Video with black frames: define xec.blackBitRate (kbps) or xec.blackFrameRate to define a minimum threshold for video stream: 
# under this bitrate/framerate threshold (e.g. 10kbps and/or Quarter frame rate), video will be replaced by black frames (workaround for audio-only content, which is not accepted by Widevine Packager) 
#xec.blackBitRate=20 
#xec.blackFrameRate=8 

# Bug 33697 - Static routes support 
# To define n routes, set "staticRoute.1" to "staticRoute.n" parameters 
# Route format: "target_IP_address mask gateway_IP_address NICs" (NICs can be: 1, 2, 3, 4, 5, 6, 1-2, 3-4, 5-6) 
#staticRoute.1=10.0.0.0 255.0.0.0 192.168.232.1 1-2 
#staticRoute.debug=true 

# Blade: NICs are not closed on switch (by 4Manager), so there is no need to handle this event 
staticRoute.restoreRoutes.onNicIsGoingUp=false 

#mpeg2_ts output
ip.rawSocketMode=false
#decoder audio
decoderFilter.mpeg1audioDecoderLibName=etvmpeg1audioippdecoder

addon.enable=false

# specific advanced parameters for Comcast: Linux processing optimisation
deringing.queueLength=15
videoEncodSampleQueueLen=40
audioenc.sampleQueuePriorityRT=true
deringing.sampleQueuePriorityRT=true
SQAfterAudioEncoder.enable=true

# WORKAROUND for Bug 41288 - [Performances]: Impossible to encode HD IPTV and HD ITV in same service due to NUMA setting
masterSlave.setPreferredNumaNode=false 

# license
licensing_mechanism=2

liveTranscoder.UHD.numaNode=0

#workaround https://dev.azure.com/mediakind/MPD/_workitems/edit/687306
#Root cause is the VBV target delay feature which is not robust with splice not used to fragment (like automation splice, timeSignal, etc.) meaning we don't force an IDR .
#A workaround is to add the following AP:
uncl.useTargetVbvLevel=0

# Specify the ST2110 demuxer clock
st2110Demuxer.clock = systemNtp
