[Unit]
Description=ericsson-command-api
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
ExecStart=/bin/bash -c "/opt/ericsson/command/bin/envivio-command-api --conf /opt/ericsson/command/etc/command-api.cfg --logging /opt/ericsson/command/etc/logging.json"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
