[Unit]
Description=ericsson-nmos
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
PermissionsStartOnly=true

# Disable warnings about using the Apple Bonjour compatibility layer of Avahi
Environment="AVAHI_COMPAT_NOWARN=1"

ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/nmos/public /var/log/ericsson/nmos/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/nmos/public /var/log/ericsson/nmos/private
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/nmos
ExecStart=/bin/bash -c      "/opt/ericsson/nmos/bin/nmos-cpp-node /etc/ericsson/nmos/config/nmos.json $(find /etc/ericsson/nmos/config/nmos.d -type f -name '*.json' | sort)"
ExecStartPost=/bin/bash -c  "pgrep nmos-cpp-node > /var/opt/ericsson/nmos/ericsson-nmos.pid"
ExecReload=/bin/bash -c     "/bin/pkill -15 -F /var/opt/ericsson/nmos/ericsson-nmos.pid; sleep 1"
ExecReload=/bin/bash -c     "/opt/ericsson/nmos/bin/nmos-cpp-node /etc/ericsson/nmos/config/nmos.json $(find /etc/ericsson/nmos/config/nmos.d -type f -name '*.json' | sort)"
ExecReload=/bin/bash -c     "pgrep nmos-cpp-node > /var/opt/ericsson/nmos/ericsson-nmos.pid"
ExecStop=/bin/bash -c       "/bin/pkill -15 -F /var/opt/ericsson/nmos/ericsson-nmos.pid; sleep 1"
ExecStopPost=/bin/bash -c   "rm -f /var/opt/ericsson/nmos/ericsson-nmos.pid"
Restart=always

[Install]
WantedBy=multi-user.target
