[Unit]
Description=ericsson-snmp-notification
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson-ctlvip
SupplementaryGroups=ericsson
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/snmp-notification/public /var/log/ericsson/snmp-notification/private /var/log/ericsson/snmp-notification/setup
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/snmp-notification/public /var/log/ericsson/snmp-notification/private /var/log/ericsson/snmp-notification/setup
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/snmp-notification
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c  "cd /opt/ericsson/snmp-notification/bin; source activate; ./ericsson-snmp-notification --conf /opt/ericsson/snmp-notification/etc/snmp-notification.ini --logging /opt/ericsson/snmp-notification/etc/logging.json >> /var/log/ericsson/snmp-notification/private/console.log 2>&1"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
