[Unit]
Description=ericsson-failover-api-celery
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
EnvironmentFile=-/opt/ericsson/failover-api/etc/celery.conf
Restart=always

Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/sh -c '${CELERY_BIN} -A $CELERY_APP worker \
        --concurrency=${CELERY_WORKER_COUNT} \
        --logfile=${CELERYD_LOG_FILE} \
        --loglevel="${CELERYD_LOG_LEVEL}" \
        $CELERYD_OPTS'

KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
