[Unit]
Description=ericsson-alarm
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/ericsson/alarm/public /var/log/ericsson/alarm/private /var/log/ericsson/alarm/setup
ExecStartPre=/bin/chown ericsson: /var/log/ericsson/alarm/public /var/log/ericsson/alarm/private /var/log/ericsson/alarm/setup
ExecStartPre=/sbin/restorecon -R /var/log/ericsson/alarm
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c "/opt/ericsson/alarm/bin/ericsson-alarm-api --conf /opt/ericsson/alarm/etc/alarm-api.ini --logging /opt/ericsson/alarm/etc/alarm-api-logging.json"
ExecStop=/bin/kill -s HUP $MAINPID 
Restart=always

[Install]
WantedBy=multi-user.target
