[Unit]
Description=ericsson-esam-proxy
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/esam-proxy/public /var/log/ericsson/esam-proxy/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/esam-proxy/public /var/log/ericsson/esam-proxy/private
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/esam-proxy
# END OF BZ47235
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c     "cd /opt/ericsson/esam-proxy/bin;source activate;./ericsson-esam-proxy --logging /opt/ericsson/esam-proxy/etc/logging.json --conf /opt/ericsson/esam-proxy/etc/esam-proxy.ini >> /var/log/ericsson/esam-proxy/private/console.log 2>&1"
ExecStartPost=/bin/bash -c "ps aux|egrep -e './ericsson-esam-proxy'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/esam-proxy/ericsson-esam-proxy.pid"
ExecReload=/bin/bash -c    "/bin/pkill -15 -F /var/opt/ericsson/esam-proxy/ericsson-esam-proxy.pid; sleep 1"
ExecReload=/bin/bash -c    "cd /opt/ericsson/esam-proxy/bin;source activate;./ericsson-esam-proxy --logging /opt/ericsson/esam-proxy/etc/logging.json --conf /opt/ericsson/esam-proxy/etc/esam-proxy.ini >> /var/log/ericsson/esam-proxy/private/console.log 2>&1;"
ExecReload=/bin/bash -c    "ps aux|egrep -e './ericsson-esam-proxy'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/esam-proxy/ericsson-esam-proxy.pid"
ExecStop=/bin/bash -c      "/bin/pkill -15 -F /var/opt/ericsson/esam-proxy/ericsson-esam-proxy.pid; sleep 1"
ExecStopPost=/bin/bash -c  "rm -f /var/opt/ericsson/esam-proxy/ericsson-esam-proxy.pid"
Restart=always

[Install]
WantedBy=multi-user.target
