[Unit]
Description=ericsson-unified-ui-daphne webserver
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
WorkingDirectory=/opt/ericsson/unified-ui/
EnvironmentFile=-/opt/ericsson/unified-ui/etc/daphne.conf
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/unified-ui/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/unified-ui/private
# END OF BZ47235
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c  "cd /opt/ericsson/unified-ui/bin;source activate;./daphne ericsson.websocket.asgi:channel_layer -p 8889 --ws-protocol v11.stomp --root-path /opt/ericsson/unified-ui/lib/python3.7/site-packages >> /var/log/ericsson/unified-ui/private/daphne.log 2>&1"
Restart=always

[Install]
WantedBy=multi-user.target