[Unit]
Description=ericsson-alarm-proxy
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/alarm-proxy/public /var/log/ericsson/alarm-proxy/private /var/log/ericsson/alarm-proxy/setup
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/alarm-proxy/public /var/log/ericsson/alarm-proxy/private /var/log/ericsson/alarm-proxy/setup
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/alarm-proxy
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c  "cd /opt/ericsson/alarm-proxy/bin; source activate; ./ericsson-alarm-proxy --conf /opt/ericsson/alarm-proxy/etc/alarm-proxy.ini --logging /opt/ericsson/alarm-proxy/etc/logging.json >> /var/log/ericsson/alarm-proxy/private/console.log 2>&1"
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
