[Unit]
Description=envivio-server-daemon
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
SupplementaryGroups=i2c ipmi
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/server-daemon/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/server-daemon/private
ExecStartPre=/usr/sbin/udevadm trigger
# END OF BZ47235
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c     "cd /opt/ericsson/server-daemon/bin;source activate;./envivio-server-daemon --logging /opt/ericsson/server-daemon/etc/logging.json --conf /opt/ericsson/server-daemon/etc/server-daemon.ini  >> /var/log/ericsson/server-daemon/private/console.log 2>&1"
ExecStartPost=/bin/bash -c "ps aux|egrep -e './envivio-server-daemon'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/server-daemon/envivio-server-daemon.pid"
ExecReload=/bin/bash -c    "/bin/pkill -15 -F /var/opt/ericsson/server-daemon/envivio-server-daemon.pid; sleep 1"
ExecReload=/bin/bash -c    "cd /opt/ericsson/server-daemon/bin;source activate;./envivio-server-daemon --logging /opt/ericsson/server-daemon/etc/logging.json --conf /opt/ericsson/server-daemon/etc/server-daemon.ini >> /var/log/ericsson/server-daemon/private/console.log 2>&1"
ExecReload=/bin/bash -c    "ps aux|egrep -e './envivio-server-daemon'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/server-daemon/envivio-server-daemon.pid"
ExecStop=/bin/bash -c      "/bin/pkill -15 -F /var/opt/ericsson/server-daemon/envivio-server-daemon.pid; sleep 1"
ExecStopPost=/bin/bash -c  "rm -f /var/opt/ericsson/server-daemon/envivio-server-daemon.pid"
Restart=always

[Install]
WantedBy=multi-user.target
