[Unit]
Description=mediakind-nmos-sidecar
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/nmos-sidecar/public /var/log/ericsson/nmos-sidecar/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/nmos-sidecar/public /var/log/ericsson/nmos-sidecar/private
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/nmos-sidecar
# END OF BZ47235
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c     "cd /opt/ericsson/nmos-sidecar/bin;source activate;./mediakind-nmos-sidecar --logging /opt/ericsson/nmos-sidecar/etc/logging.json --conf /opt/ericsson/nmos-sidecar/etc/nmos-sidecar.ini >> /var/log/ericsson/nmos-sidecar/private/console.log 2>&1"
ExecStartPost=/bin/bash -c "ps aux|egrep -e './mediakind-nmos-sidecar'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/nmos-sidecar/mediakind-nmos-sidecar.pid"
ExecReload=/bin/bash -c    "/bin/pkill -15 -F /var/opt/ericsson/nmos-sidecar/mediakind-nmos-sidecar.pid; sleep 1"
ExecReload=/bin/bash -c    "cd /opt/ericsson/nmos-sidecar/bin;source activate;./mediakind-nmos-sidecar --logging /opt/ericsson/nmos-sidecar/etc/logging.json --conf /opt/ericsson/nmos-sidecar/etc/nmos-sidecar.ini >> /var/log/ericsson/nmos-sidecar/private/console.log 2>&1;"
ExecReload=/bin/bash -c    "ps aux|egrep -e './mediakind-nmos-sidecar'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/nmos-sidecar/mediakind-nmos-sidecar.pid"
ExecStop=/bin/bash -c      "/bin/pkill -15 -F /var/opt/ericsson/nmos-sidecar/mediakind-nmos-sidecar.pid; sleep 1"
ExecStopPost=/bin/bash -c  "rm -f /var/opt/ericsson/nmos-sidecar/mediakind-nmos-sidecar.pid"
Restart=always

[Install]
WantedBy=multi-user.target
