[Unit]
Description=ericsson-failover-api
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
# BEGINNING OF BZ47235
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/ericsson/failover-api/public /var/log/ericsson/failover-api/private
ExecStartPre=/usr/bin/chown ericsson: /var/log/ericsson/failover-api/public /var/log/ericsson/failover-api/private
ExecStartPre=/usr/sbin/restorecon -R /var/log/ericsson/failover-api
# END OF BZ47235
Environment=PYTHONDONTWRITEBYTECODE="True"
ExecStart=/bin/bash -c     "cd /opt/ericsson/failover-api/bin;source activate;./ericsson-failover-api --logging /opt/ericsson/failover-api/etc/logging_failover-api.json --conf /opt/ericsson/failover-api/etc/failover-api.ini >> /var/log/ericsson/failover-api/private/console.log 2>&1"
ExecStartPost=/bin/bash -c "ps aux|egrep -e './ericsson-failover-api'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/failover-api/ericsson-failover-api.pid"
ExecReload=/bin/bash -c    "/bin/pkill -15 -F /var/opt/ericsson/failover-api/ericsson-failover-api.pid; sleep 1"
ExecReload=/bin/bash -c    "cd /opt/ericsson/failover-api/bin;source activate;./ericsson-failover-api --logging /opt/ericsson/failover-api/etc/logging_failover-api.json --conf /opt/ericsson/failover-api/etc/failover-api.ini >> /var/log/ericsson/failover-api/private/console.log 2>&1;"
ExecReload=/bin/bash -c    "ps aux|egrep -e './ericsson-failover-api'|grep -v grep|awk '{print $2}'>/var/opt/ericsson/failover-api/ericsson-failover-api.pid"
ExecStop=/bin/bash -c      "/bin/pkill -15 -F /var/opt/ericsson/failover-api/ericsson-failover-api.pid; sleep 1"
ExecStopPost=/bin/bash -c  "rm -f /var/opt/ericsson/failover-api/ericsson-failover-api.pid"
Restart=always

[Install]
WantedBy=multi-user.target
