#version=RHEL8
# Reboot after installation
reboot
# Use text mode install
text
# Installation logging level
logging --level=info
repo --name="Minimal" --baseurl=file:///run/install/sources/mount-0001-hdd-iso/Minimal

%pre
sh  /run/install/repo/MediaKind/log_version.sh
%end

%post --nochroot
echo "Loading custom installation media"
cp -r /run/install/repo/MediaKind /mnt/sysroot/root
%end

%post
echo "Installing extra tools"
rpm   -i /root/MediaKind/RPM/*.rpm

echo "Creating /var/log/journal to enable persistent logs"
mkdir -p /var/log/journal
chown root:systemd-journal /var/log/journal

echo "Cleaning third-party yum repositories"
yum clean all
echo "Disabling third-party yum repositories"
sed -i 's/enabled=./enabled=0/' /etc/yum.repos.d/*
echo "Enabling all network interfaces on boot"
sed -i 's/ONBOOT=no/ONBOOT=yes/' /etc/sysconfig/network-scripts/ifcfg-*

ln -s /var/log/anaconda/program.log /root/install.log
%end

%post --nochroot --erroronfail
export MEDIA_DEST=`cat /tmp/media_dest.txt`

cd /mnt/sysroot/root
mkdir -p ./bin ./.MediaKind/platform
cp /tmp/media_dest.txt ./.MediaKind/platform
cp ./MediaKind/system_backup.sh ../usr/local/sbin/system.backup
cp ./MediaKind/network_config.sh ./bin/network.config
cp ./MediaKind/machine_id.sh     ./bin/machine.id

BACKUP_SIZE=`cat /tmp/backup_size.txt`
if [ $BACKUP_SIZE -eq 0 ]
then
    echo "No backup service enabled - zero backup partition size selected"
    bash ./MediaKind/backup_partition.sh $BACKUP_SIZE
else
    echo "Configuring backup service - see 'system.backup --help'"
    bash ./MediaKind/backup_boot.sh
    bash ./MediaKind/backup_partition.sh $BACKUP_SIZE
fi
%end

%pre
sh   /run/install/repo/MediaKind/create_partition.sh --uefi --auto
echo -e "\n\r"
echo -e "\nPartitions selected for UEFI boot:\r"
echo -e "\n\r"
cat  /tmp/ks_partitions.txt
%end

%packages
@Core
kexec-tools

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --enabled --service=ssh,http,ssh
# Network information
network  --hostname=localhost.localdomain

# Use hard drive installation media
harddrive --dir=/ --partition=/dev/disk/by-label/ALMALINUX8

# SELinux configuration
selinux --enforcing

# Do not configure the X Window System
skipx

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="rhgb quiet crashkernel=auto" --location=mbr --driveorder="/dev/disk/by-path/pci-0000:00:17.0-ata-1" --boot-drive=/dev/disk/by-path/pci-0000:00:17.0-ata-1
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=sda --disklabel=gpt
# Disk partitioning information
part /boot/efi --fstype="efi" --size=512 --fsoptions="defaults,uid=0,gid=0,umask=077,shortname=winnt"
part /boot --fstype="ext4" --size=512
part pv.297 --fstype="lvmpv" --size=96660
volgroup vg_main --pesize=4096 pv.297
logvol /var --fstype="ext4" --size=28698 --name=lv_var --vgname=vg_main
logvol / --fstype="ext4" --size=9566 --name=lv_root --vgname=vg_main
logvol /var/log --fstype="ext4" --size=28698 --name=lv_var_log --vgname=vg_main
logvol /home --fstype="ext4" --size=9566 --name=lv_home --vgname=vg_main
logvol /tmp --fstype="ext4" --size=19132 --name=lv_tmp --vgname=vg_main

# System timezone
timezone Etc/UTC --isUtc

# Root password
rootpw --iscrypted $6$obfnyx92Ox/LjPkr$ICUrmGomfVRTeba3FGGrob1ENhnOCq2uwN2M22SSgO2vGXRDOW57G98.Mhp5hdkJQrdV3503BdEUVpLGbCR9s/

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
