[Unit]
Description=ericsson-automation-proxy-primary
After=network.target

[Service]
Type=simple
User=ericsson
Group=ericsson
PermissionsStartOnly=true
ExecStart=/opt/ericsson/automation-proxy/bin/automation-proxy -mode primary -settings /opt/ericsson/automation-proxy/etc/config.json -serverId serverId
ExecStop=/bin/kill -s HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target

